{{#*inline "page"}}
<p>Add a new website</p>
<form action="/manage/new_website" method="post">
    Select image to upload:
    <input type="text" name="name" placeholder="Site name">
    <p>Figure out something to add users</p>
    <input type="submit" value="Add" name="submit">
</form>
{{/inline}} {{> layout }}