{{#*inline "page"}}
  <span id="reason">{{reason}}</span>
  <form action="/auth" method="POST">
    <input name="username" type="text" placeholder="Username" />
    <br />
    <input name="password" type="password" placeholder="Password" />
    <br />
    <button type="submit">Login</button>
  </form>
{{/inline}}
{{> layout }}
